{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>サイトタイトル</title>
        <meta name="description" content="ディスクリプションを入力">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header></header>
        
        
        <form method='POST' action="" >
            {% csrf_token %}
            {{ form.as_p }}
          <button type="submit" >Login!</button>
        </form>
        
        <!----- footer ----->
        <footer></footer>
        <!----- /footer ----->
    </body>    
</html>
