{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>サイトタイトル</title>
        <meta name="description" content="ディスクリプションを入力">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header></header>
        
        <p>
        ログアウトされました。
        </p>
        <a href="http://localhost:3000/">トップ画面に戻る</a>
        
        <!----- footer ----->
        <footer></footer>
        <!----- /footer ----->
    </body>    
</html>
